<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="EverythingSuite"
       thread-count="3"
       parallel="methods">
<listeners>
  <listener class-name="com.github.jsdevel.testng.selenium.samples.PublishResult" />
</listeners>

  <test name="AllSuites">
    <classes>
      <class name="com.github.jsdevel.testng.selenium.samples.SampleSuiteITest" />
    </classes>
  </test>
</suite>
